<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title></title>
  <link type="image/png" rel="icon" href="assets/image/favicon.PNG">

  <!-- STYLE'S -->
  <link href="../../back/static/css/main.css" rel="stylesheet">

  <!-- FONT -- JOST -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="index.html"><button>Home</button></a>
        <a href="#"><button class="active">About</button></a>
        <a href="profile.html"><button>Profile</button></a>
    </nav>
</body>
</html>