{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use></svg>
          </a>
          <a class="navbar-brand" href="{% url 'home' %}">Lenta</a>

          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
            <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
          </ul>
          
          {% if not request.user.is_authenticated %}

          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2" onclick="location.href='/account/login'">Login</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/account/register'">Sign-up</button>
          </div>
          {% else %}
          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2" onclick="location.href='/account/logout'">Logout</button>
          </div>
          {% endif %}
        </header>
      </div>
        
    <div id="header">
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == 'user_profile' %}class="selected"{% endif %}>
                <a href="{% url 'user_profile' %}">My dashboard</a>
                </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                <a href="#">Images</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="#">People</a>
                </li>
            </ul>
        {% endif %}
        
    </div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
