html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    overflow: hidden;
}

/* NAVIGATION MENU */
nav{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
nav button{
    width: calc(100% / 3);
    margin: 0;
    padding: 0;
    height: 6%;
    font-size: 3%;
    border: 0;
    background-color: #dddddd;
    color: #606060;
    line-height: 6%;
}
nav button.active{
    color: white;
    background-color: dodgerblue;
}

/* CARD */
.card{
    border: 2px solid gray;
    padding: 13px;
    overflow-y: auto;
    margin: 2% 10%;
    width: calc(80% - 30px);
    height: calc(90% - 30px);
}

p.text{
    padding: 0;
    margin: 0 0 10px 0;
}

.card img{
    width: calc(80% - 30px - 5%);
    margin: 0 2.5%;
}